<div align="center">
  <h1>Редактирование номеров</h1>
  <%= link_to "Добавить номер", new_admin_room_path, class: "btn btn-xs btn-primary" %>
  <div class="flickr_pagination">
      <%= will_paginate %>
    </div>
</div>
<%= render 'shared/room', obj: @rooms %>

