<%= render 'shared/carousel' %>
<p>
    Посмотрите на город глазами местных жителей, остановившись в самом центре Санкт-Петербурга.
    Отель удобно расположен на Невском проспекте - главной улице Санкт-Петербурга.
    В этом отеле, находящемся недалеко от всемирно известных культурных и исторических достопримечательностей Петербурга,
    включая музей Фаберже, гостей ждут роскошные номера для приятного отдыха.
    Отель находится рядом с торговыми и деловыми центрами, а также всего в 5 минутах ходьбы от нескольких станций метро.
</p>